@model IEnumerable<Store.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
        </tr>
    </thead>
<tbody>
        @foreach(var item in Model) {
         <tr>
             <td>
                    @Html.DisplayFor(modelitem => item.Id)
             </td>
        
                <td>
                    @Html.DisplayFor(modelitem => item.Title)
                </td>
                <td>
                    @Html.ActionLink("Edit","Edit", new{/*id=item.PrimaryKay*/}) |
                    @Html.ActionLink("Details","Details", new{/*id=item.PrimaryKay*/}) |
                    @Html.ActionLink("Delete","Delete", new{/*id=item.PrimaryKay*/}) |
                </td>
            </tr>
            
        }
    </tbody>

</table>